#navigateButtons{
    border-style:dotted;
    border-color:orange;
    width:80%;
    height:75%;
    display:flex;
    flex-direction: column;
    div{
        height:25%;
     
    }
    :first-child{
        
    }
     :nth-child(2){
        i{
            transform: rotate(90deg);
         }
     }
     :nth-child(3){
        i{
            transform: rotate(-90deg);
         }
     }
     :nth-child(4){
        i{
            transform: rotate(180deg);
         }
     }
}