#navigateButtons{
    border-style:dotted;
    border-color:orange;
    height:70%;
    :first-child{
     
    }
    :nth-child(2){
        
    }
    :nth-child(3){

    }
    :nth-child(4){

    }
}