#preview-box{
    color:white;
     margin-top:12vh;
     height:52vh;
     width:80vw;
     border-style:dotted;
     border-color:white;
     @media (max-width: 500px) {
         width:95%;
         margin-top:3%;
    
       }
    
 }
 