#navBar{
    @media (max-width: 500px) {
        width:15%;
      }
    position:absolute;
    top:4%;
    height:88vh;
    width:9vw;
    border-style:dotted;
    border-color:yellow;
    background-color:$Dark-Slate-Blue;
  
    img{

        height:auto;
        width:100%;
    }
}