#navBar{
    position:absolute;
    top:4%;
    height:88vh;
    width:6vw;
    border-style:dotted;
    border-color:yellow;
    background-color:$Dark-Slate-Blue;
  
    img{

        height:auto;
        width:100%;
    }
}