.page {
  @media (max-width: 500px) {
    margin-top:-1%;
    left:20%;
    width:79%;
  }

  position:relative;
  left:10%;
  display: flex;
  min-height:95vh;
  width: 85vw;
  border-style: solid;
  border-color: $Space-Cadet;
  border-width:1px;


  // @media (max-width: 500px) {
    
  // }
}
