#welcome-page{
    display:flex;
    flex-direction: column;
    align-items:center;
    #welcome-message{
        display:flex;
        justify-content:center;
        color:white;
        height:5vh;
        background-color:yellowgreen;
    }
   
}

.my-space{
    display:flex;
    width:80%;
    height:15vh;
    border-style:dotted;
    border-color:yellowgreen;
    align-items: center;
    .planets{
        display:flex;
        justify-content:flex-end;
        margin-right:auto;
        margin-left:auto;
        border-style:solid;
        border-radius:100%;
        border-color:white;
 
        .planet-line{
            display:flex;
            position:relative;
            top:50%;
            height:0em;
            color:white;
            border-style:solid;
            border-width:0px 2.2px 0px 0px;
            border-radius:100%;
            transition: 0.6s ease-in-out;
            .planet-line-dot{
                width:1em;
                height:1em;
                border-style:solid;
                border-color:white;
                border-radius:100%;
                align-self: flex-end;
                position:relative;
                left:15px;
            }
        }
        
    }
    :first-child{ //myself 
        .planet-line{
            transform:rotate(-20deg);
         
            right:-60%;
        }
        height:4em;
        width:4em;
        
    }
    :nth-child(2){
        height:5em;
        width:5em;
    }
    :nth-child(3){
        height:3.5em;
        width:3.5em;
    }
    :nth-child(4){
        height:4.3em;
        width:4.3em;
    }
    :nth-child(5){
        height:4em;
        width:4em;
    }
    :hover{
        .planet-line{
        height:30vh;
    }} 
}

#myself-preview{
    opacity:0;
    margin-top:20vh;
    height:30vh;
    width:80vw;
    border-style:dotted;
    border-color:white;
    #me-planet:hover{
        opacity:100;
    }
}
#me-planet{
   
        div:hover{
            #myself-preview{
                opacity:100;
            }
    }
}