#welcome-page{
    display:flex;
    flex-direction: column;
    align-items:center;
    #welcome-message{
        display:flex;
        justify-content:center;
        color:white;
        height:5vh;
      
    }
   
}

.my-space{
    display:flex;
    width:80%;
    height:15vh;
    border-style:dotted;
    border-color:yellowgreen;
    align-items: center;
   
    .planets{
       
        display:flex;
        justify-content:flex-end;
        margin-right:auto;
        margin-left:auto;
        border-style:solid;
        border-radius:100%;
        border-color:white;
      
        .planet-line{
            display:flex;
            position:relative;
            top:50%;
            height:0em;
            color:white;
            border-style:solid;
            border-width:0px 2.2px 0px 0px;
            border-radius:100%;
            transition: 0.6s ease-in-out;
            pointer-events: none;
            @media (max-width: 500px) {
                visibility: hidden;
            }
            .fa-child{
                width:0.5em;
                border-radius:100%;
                border-width:1px;
                align-self: flex-end;
                position:relative;
                left:15px;
                top:3em;
                opacity:100%;
                transition:0.5s;
                @media (max-width: 500px) {
                    visibility: hidden;
                    transition:0s;
                }
            }

        }
    
    }
    :first-child{ //myself 
        .planet-line{
            transform:rotate(-20deg);
            right:-40%;
        }
        height:4em;
        width:4em;
        @media (max-width: 500px) {
            border-radius:0%;
            width:20%;
            height:100%;
            background-color:lightgreen;
        }
    }
    :nth-child(2){ 
        .planet-line{
            transform:rotate(-10deg)
        }
        height:5em;
        width:5em;
        @media (max-width: 500px) {
            border-radius:0%;
            width:20%;
            height:100%;
            background-color:lightgreen;
        }
    }
    :nth-child(3){
        height:3.5em;
        width:3.5em;
        @media (max-width: 500px) {
            border-radius:0%;
            width:20%;
            height:100%;
            background-color:lightgreen;
        }
    }
    :nth-child(4){
        .planet-line{
            transform:rotate(10deg);
        }
        height:4.3em;
        width:4.3em;
        @media (max-width: 500px) {
            border-radius:0%;
            width:20%;
            height:100%;
            background-color:lightgreen;
        }
    }
    :nth-child(5){
        .planet-line{
            transform:rotate(15deg);
        }
        height:4em;
        width:4em;
        @media (max-width: 500px) {
            border-radius:0%;
            width:20%;
            height:100%;
            background-color:lightgreen;
        }
    }
    :hover{
        .planet-line{
        height:30vh;
        .fa-child{
            opacity:100;  
          }
        }
        } 
}

#preview-box{
   color:white;
    margin-top:15vh;
    height:45vh;
    width:80vw;
    border-style:dotted;
    border-color:white;
    @media (max-width: 500px) {
        width:75%;
      }
    #me-planet:hover{
        opacity:100;
    }
}
